.t_wrap {
	list-style: none;
	/*margin: 0 0 20px 0;*/
	padding: 0;
	//zoom:1;
	display:block;
}

.t_wrap:after{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.t_item {
	list-style: none;
}

.tab,
.main .tab {
	float: left;
	position: relative;
	text-decoration: none;
	z-index: 2;
	color: #282629;
	line-height: 1;
	font: 16px 'fira_sanssemibold', sans-serif;
	padding: 7px 22px;
	margin-right: 6px;
	border-bottom-color:transparent;
	-webkit-transition: all linear .13s; 
	-moz-transition: all linear .13s; 
	-ms-transition: all linear .13s; 
	-o-transition: all linear .13s; 
	transition: all linear .13s;
}

.tab i{
	font-style: normal;
	border-bottom: 1px dashed #D2D2D2;
	padding-bottom: 2px;
}

.tab:hover i{
	border-color: transparent;
}

.tab.first{
	margin-left: 23px;
}

.tab.cur{
	background: #9FA199;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

.tab.cur i{
	border-color: transparent;
}

.tab.cur:hover{
	background: #B6B8AF;
}

.tab:hover{
	text-decoration: none;
}

.t_content {
	display: none;
	float: left;
	margin: 0 -100% 0 0;
	position: relative;
	width: 100%;
}

.t_include {
	clear: both;
	overflow: hidden;
	padding: 18px 0 1px;
	position: relative;
	top: -1px;
	z-index: 1;
	zoom: 1;
}
